/* Woot Add Meh */
#woot .bottom, #woot.selected {
background: rgba(33,33,33,10) !important;
}
.votes-rs .title.woot {
background: rgba(33,33,33,10) !important;
}
#grab .bottom, #grab.selected {
background: rgba(33,33,33,10) !important;
}
.votes-rs .title.grab {
background: rgba(33,33,33,10) !important;
}
#meh .bottom, #meh.selected {
background: rgba(33,33,33,10) !important;
}
.votes-rs .title.meh {
background: rgba(33,33,33,10) !important;
}
#vote .crowd-response .top {
background: rgba(22,22,22,10) !important;
}
/* Woot Add Meh */
