/* Woot Add Meh */
#woot .bottom, #woot.selected {
background: rgba(89,67,82,10) !important;
}
.votes-rs .title.woot {
background: rgba(89,67,82,10) !important;
}
#grab .bottom, #grab.selected {
background: rgba(51,25,42,10) !important;
}
.votes-rs .title.grab {
background: rgba(51,25,42,10) !important;
}
#meh .bottom, #meh.selected {
background: rgba(89,67,82,10) !important;
}
.votes-rs .title.meh {
background: rgba(89,67,82,10) !important;
}
/* Woot Add Meh */
